In [1]:
from selenium import webdriver
import time
import pandas as pd
import numpy as np

In [6]:
def get_jobs(requiredJobData,  noOfPages, requiredCountryData = " "):
    # Initializing the chrome browser
    driver = webdriver.Chrome(executable_path='D:/projects/jupyter/chromedriver')


    # Opening the URL
    url = "https://www.glassdoor.com/Job/jobs.htm?suggestCount=0&suggestChosen=false&clickSource=searchBtn&typedKeyword="+requiredJobData+"&sc.keyword="+requiredJobData+"&locT=&locId=&jobType="
    driver.get(url)
    
    # Maximizing the opened window
    driver.maximize_window()
    
    # Adding implicit wait
    driver.set_page_load_timeout(30)
    
    # Entering city (or) state (or) country name
    if requiredCountryData == " ":
        driver.find_element_by_id("sc.location").clear()
        driver.find_element_by_xpath("//form[@id='scBar']//button[contains(@class, 'gd-ui-button')]").click()
        
    else:
        driver.find_element_by_id("sc.location").send_keys(requiredCountryData)
        driver.find_element_by_xpath("//form[@id='scBar']//button[contains(@class, 'gd-ui-button')]").click()

    time.sleep(3)

    # To get the Popup
    toGetPopUp = []
    toGetPopUp = driver.find_elements_by_xpath("//*[contains(@class,'react-job-listing')]")    
    toGetPopUp[0].click()

    time.sleep(2)

    # To close the popup
    closeButton = driver.find_element_by_xpath("//*[contains(@class, 'modal_closeIcon-svg')]")
    closeButton.click()

    # Creating a Dataframe to store the data in it.
    data = pd.DataFrame(columns={'Job Title','Salary Estimate', 'Job Description', 'Rating', 'Company Name', 'Location', 'Size', 'Founded', 'Type of Ownership', 'Industry', 'Sector', 'Revenue'})

    # This loop is to get required code from the webpage.

    # Adding implicit wait
    driver.set_page_load_timeout(30)

    # To get required number of pages of job data.
    for page in range(noOfPages):
        
        # Time for every page to wait
        driver.set_page_load_timeout(30)

        # Multiple values are taken.
        jobTitles = driver.find_elements_by_xpath("//li[contains(@class, 'react-job-listing')]//a[contains(@class, 'jobLink css-1rd3saf eigr9kq2')]//span")
        companyNames = driver.find_elements_by_xpath("//li[contains(@class, 'react-job-listing')]//a[@class=' css-l2wjgv e1n63ojh0 jobLink']")
        jobLocations = driver.find_elements_by_xpath("//div[contains(@class, 'd-flex flex-wrap css-11d3uq0 e1rrn5ka2')]/span")

        # Locating all the listed jobs
        allJobs = driver.find_elements_by_xpath("//ul[@data-test='jlGrid']//li")

        for i in range(len(allJobs)):

            try:
                jobDescriptionText = driver.find_element_by_xpath("//div[contains(@class,'jobDescriptionContent')]").text
            except Exception:
                jobDescriptionText = np.nan

            try:
                jobRatingText = driver.find_element_by_xpath("//span[contains(@class,'css-1m5m32b e1tk4kwz2')]").text
            except Exception:
                jobRatingText = np.nan

            try:
                emplooyeSizeText = driver.find_element_by_xpath("//div[@id='CompanyContainer']//div[@class='d-flex flex-wrap']/div[1]/span[@class='css-i9gxme e1pvx6aw2']").text
            except Exception:
                emplooyeSizeText = np.nan

            try:
                companyFoundedText = driver.find_element_by_xpath("//div[@id='CompanyContainer']//div[@class='d-flex flex-wrap']/div[2]/span[@class='css-i9gxme e1pvx6aw2']").text
            except Exception:
                companyFoundedText = np.nan

            try:
                companyTypeText = driver.find_element_by_xpath("//div[@id='CompanyContainer']//div[@class='d-flex flex-wrap']/div[3]/span[@class='css-i9gxme e1pvx6aw2']").text
            except Exception:
                companyTypeText = np.nan

            try:
                jobIndustryText = driver.find_element_by_xpath("//div[@id='CompanyContainer']//div[@class='d-flex flex-wrap']/div[4]/span[@class='css-i9gxme e1pvx6aw2']").text
            except Exception:
                jobIndustryText = np.nan

            try:
                jobSectorText = driver.find_element_by_xpath("//div[@id='CompanyContainer']//div[@class='d-flex flex-wrap']/div[5]/span[@class='css-i9gxme e1pvx6aw2']").text
            except Exception:
                jobSectorText = np.nan

            try:
                companyRevenueText = driver.find_element_by_xpath("//div[@id='CompanyContainer']//div[@class='d-flex flex-wrap']/div[6]/span[@class='css-i9gxme e1pvx6aw2']").text
            except Exception:
                companyRevenueText = np.nan

            try:
                jobSalaryText = driver.find_element_by_xpath("//span[contains(@class, 'css-56kyx5 css-16kxj2j e1wijj242')]").text
            except Exception:
                jobSalaryText = np.nan

            # Title, company name and job location are directly available so for each job it's corresponding values are assigned
            
            try:
                driver.set_page_load_timeout(30)
                jobTitleText = jobTitles[i].text
            except Exception:
                jobTitleText = np.nan
                    
            
            try:
                driver.set_page_load_timeout(30)
                companyNameText = companyNames[i].text
            except Exception:
                companyNameText = np.nan
                
            try:
                driver.set_page_load_timeout(30)
                jobLocationText = jobLocations[i].text
            except Exception:
                jobLocationText = np.nan

            # Storing all the data into dataset
            data = data.append({'Job Title': jobTitleText, 'Salary Estimate': jobSalaryText, 'Job Description': jobDescriptionText, 'Rating': jobRatingText, 'Company Name': companyNameText, 
                                     'Location': jobLocationText, 'Size': emplooyeSizeText, 'Founded': companyFoundedText, 'Type of Ownership': companyTypeText, 'Industry': jobIndustryText, 
                                     'Sector': jobSectorText, 'Revenue': companyRevenueText},  ignore_index = True)

            data.to_csv('Data_science_jobs.csv')
        driver.set_page_load_timeout(30)
        driver.find_element_by_xpath("//a[@data-test='pagination-next']//span[@class='SVGInline']").click()
        
        time.sleep(3)
       



    driver.quit()
    
    return data

In [7]:
get_jobs('data scientist',  6, requiredCountryData = "India")

,Founded,Size,Location,Type of Ownership,Sector,Revenue,Rating,Salary Estimate,Job Title,Job Description,Industry,Company Name
0,1967,10000+ Employees,Bangalore,Company - Public,Manufacturing,$10+ billion (USD),4.0,NaN,Data Scientist,Job Expectations\nThe Data Scientist job expec...,Electrical & Electronic Manufacturing,Applied Materials Inc.
1,1967,10000+ Employees,Hyderābād,Company - Public,Manufacturing,$10+ billion (USD),4.0,NaN,Product: Data Scientist,Job Expectations\nThe Data Scientist job expec...,Electrical & Electronic Manufacturing,Indeed
2,1967,10000+ Employees,Pune,Company - Public,Manufacturing,$10+ billion (USD),4.0,NaN,Data Scientist I,Job Expectations\nThe Data Scientist job expec...,Electrical & Electronic Manufacturing,UST Global
3,1967,10000+ Employees,Remote,Company - Public,Manufacturing,$10+ billion (USD),4.0,NaN,Senior Data Scientist,Job Expectations\nThe Data Scientist job expec...,Electrical & Electronic Manufacturing,ParallelDots Technology Pvt Ltd
4,1967,10000+ Employees,Bangalore,Company - Public,Manufacturing,$10+ billion (USD),4.0,NaN,Data Scientist,Job Expectations\nThe Data Scientist job expec...,Electrical & Electronic Manufacturing,Visa
5,1967,10000+ Employees,Pune,Company - Public,Manufacturing,$10+ billion (USD),4.0,NaN,Associate Data Scientist,Job Expectations\nThe Data Scientist job expec...,Electrical & Electronic Manufacturing,
6,1967,10000+ Employees,Pune,Company - Public,Manufacturing,$10+ billion (USD),4.0,NaN,Data Scientist,Job Expectations\nThe Data Scientist job expec...,Electrical & Electronic Manufacturing,247 Global Recruit
7,1967,10000+ Employees,Pune,Company - Public,Manufacturing,$10+ billion (USD),4.0,NaN,Data Scientist R Python Google Cloud,Job Expectations\nThe Data Scientist job expec...,Electrical & Electronic Manufacturing,Freemind Solutions
8,1967,10000+ Employees,Gurgaon,Company - Public,Manufacturing,$10+ billion (USD),4.0,NaN,Data Scientist,Job Expectations\nThe Data Scientist job expec...,Electrical & Electronic Manufacturing,MasterCard
9,1967,10000+ Employees,Pune,Company - Public,Manufacturing,$10+ billion (USD),4.0,NaN,Machine learning and Python Developer,Job Expectations\nThe Data Scientist job expec...,Electrical & Electronic Manufacturing,Infosys Limited
10,1967,10000+ Employees,Pune,Company - Public,Manufacturing,$10+ billion (USD),4.0,NaN,"Prin, Data Scientist",Job Expectations\nThe Data Scientist job expec...,Electrical & Electronic Manufacturing,BNY Mellon
11,1967,10000+ Employees,Pune,Company - Public,Manufacturing,$10+ billion (USD),4.0,NaN,Data Science Intern,Job Expectations\nThe Data Scientist job expec...,Electrical & Electronic Manufacturing,Uptricks Services Pvt. Ltd.
12,1967,10000+ Employees,India,Company - Public,Manufacturing,$10+ billion (USD),4.0,NaN,Data Scientist (m/f),Job Expectations\nThe Data Scientist job expec...,Electrical & Electronic Manufacturing,Brose
13,1967,10000+ Employees,India,Company - Public,Manufacturing,$10+ billion (USD),4.0,NaN,Data Scientist Intern,Job Expectations\nThe Data Scientist job expec...,Electrical & Electronic Manufacturing,OXO Solutions
14,1967,10000+ Employees,Pune,Company - Public,Manufacturing,$10+ billion (USD),4.0,NaN,Data Science,Job Expectations\nThe Data Scientist job expec...,Electrical & Electronic Manufacturing,3RI TECHNOLOGIES
15,1967,10000+ Employees,Pune,Company - Public,Manufacturing,$10+ billion (USD),4.0,NaN,Data Scientist,Job Expectations\nThe Data Scientist job expec...,Electrical & Electronic Manufacturing,VM3 Tech Solutions
16,1967,10000+ Employees,Vadodara,Company - Public,Manufacturing,$10+ billion (USD),4.0,NaN,Data Scientist,Job Expectations\nThe Data Scientist job expec...,Electrical & Electronic Manufacturing,NielsenIQ
17,1967,10000+ Employees,Pune,Company - Public,Manufacturing,$10+ billion (USD),4.0,NaN,Data Scientist Jr. & Sr.,Job Expectations\nThe Data Scientist job expec...,Electrical & Electronic Manufacturing,thyssenkrupp India Pvt. Ltd.
18,1967,10000+ Employees,Pune,Company - Public,Manufacturing,$10+ billion (USD),4.0,NaN,Data Scientist,Job Expectations\nThe Data Scientist job expec...,Electrical & Electronic Manufacturing,Springer Nature
19,1967,10000+ Employees,Pune,Company - Public,Manufacturing,$10+ billion (USD),4.0,NaN,Data Scientist,Job Expectations\nThe Data Scientist job expec...,Electrical & Electronic Manufacturing,Copernicus Consulting Pvt Ltd
20,1967,10000+ Employees,Pune,Company - Public,Manufacturing,$10+ billion (USD),4.0,NaN,Big Data and Machine Learning Engineer,Job Expectations\nThe Data Scientist job expec...,Electrical & Electronic Manufacturing,Citi
21,1967,10000+ Employees,Pune,Company - Public,Manufacturing,$10+ billion (USD),4.0,NaN,Data Scientist,Job Expectations\nThe Data Scientist job expec...,Electrical & Electronic Manufacturing,Maersk
22,1967,10000+ Employees,Pune,Company - Public,Manufacturing,$10+ billion (USD),4.0,NaN,Data Science Intern,Job Expectations\nThe Data Scientist job expec...,Electrical & Electronic Manufacturing,Aera Technology
23,1967,10000+ Employees,Pune,Company - Public,Manufacturing,$10+ billion (USD),4.0,NaN,Data Scientist(6-9 Years),Job Expectations\nThe Data Scientist job expec...,Electrical & Electronic Manufacturing,Siemens Technology and Services Private Limited
24,1967,10000+ Employees,India,Company - Public,Manufacturing,$10+ billion (USD),4.0,NaN,Data Scientist Internship Opportunity,Job Expectations\nThe Data Scientist job expec...,Electrical & Electronic Manufacturing,Microsoft
25,1967,10000+ Employees,Gurgaon,Company - Public,Manufacturing,$10+ billion (USD),4.0,NaN,Data Scientist,Job Expectations\nThe Data Scientist job expec...,Electrical & Electronic Manufacturing,Deciman
26,1967,10000+ Employees,Pune,Company - Public,Manufacturing,$10+ billion (USD),4.0,NaN,Data Scientist,Job Expectations\nThe Data Scientist job expec...,Electrical & Electronic Manufacturing,Shyena Tech Yarns Pvt Ltd
27,1967,10000+ Employees,Pune,Company - Public,Manufacturing,$10+ billion (USD),4.0,NaN,Data Scientist,Job Expectations\nThe Data Scientist job expec...,Electrical & Electronic Manufacturing,Pivotchain Solution Technologies
28,1967,10000+ Employees,Pune,Company - Public,Manufacturing,$10+ billion (USD),4.0,NaN,AI / ML / Data Engr -Analyst-Scientist / IOT,Job Expectations\nThe Data Scientist job expec...,Electrical & Electronic Manufacturing,Calsoft
29,1967,10000+ Employees,Noida,Company - Public,Manufacturing,$10+ billion (USD),4.0,NaN,Associate Data Scientist,Job Expectations\nThe Data Scientist job expec...,Electrical & Electronic Manufacturing,Liberin Technologies Private Limited
30,NaN,NaN,Pune,NaN,NaN,NaN,NaN,₹223K (Employer est.),Data Scientist,Responsibilities for Data Scientist/ NLP Engin...,NaN,UTURNGROUP
31,NaN,NaN,Pune,NaN,NaN,NaN,NaN,₹223K (Employer est.),Associate Data Scientist,Responsibilities for Data Scientist/ NLP Engin...,NaN,Yash Technologies
32,NaN,NaN,Mumbai,NaN,NaN,NaN,NaN,₹223K (Employer est.),Data Scientist Associate - Wholesale Payments,Responsibilities for Data Scientist/ NLP Engin...,NaN,"JPMorgan Chase Bank, N.A."
33,NaN,NaN,Pune,NaN,NaN,NaN,NaN,₹223K (Employer est.),Data Scientist,Responsibilities for Data Scientist/ NLP Engin...,NaN,KPIT Technologies GmbH
34,NaN,NaN,Pune,NaN,NaN,NaN,NaN,₹223K (Employer est.),Specialist Data Scientist,Responsibilities for Data Scientist/ NLP Engin...,NaN,NICE
35,NaN,NaN,Mumbai,NaN,NaN,NaN,NaN,₹223K (Employer est.),,Responsibilities for Data Scientist/ NLP Engin...,NaN,SHL Global
36,NaN,NaN,Pune,NaN,NaN,NaN,NaN,₹223K (Employer est.),Data Scientist,Responsibilities for Data Scientist/ NLP Engin...,NaN,KBR
37,NaN,NaN,Chennai,NaN,NaN,NaN,NaN,₹223K (Employer est.),Associate Data Scientist (Upstream),Responsibilities for Data Scientist/ NLP Engin...,NaN,Shell
38,NaN,NaN,Pune,NaN,NaN,NaN,NaN,₹223K (Employer est.),Data Scientist,Responsibilities for Data Scientist/ NLP Engin...,NaN,Qualys
39,NaN,NaN,Pune,NaN,NaN,NaN,NaN,₹223K (Employer est.),Data Scientist,Responsibilities for Data Scientist/ NLP Engin...,NaN,Innoplexus
40,NaN,NaN,Pune,NaN,NaN,NaN,NaN,₹223K (Employer est.),Data Scientist( Statistics Specialization),Responsibilities for Data Scientist/ NLP Engin...,NaN,ArrayGen Technologies
41,NaN,NaN,Bangalore,NaN,NaN,NaN,NaN,₹223K (Employer est.),Natural Language Processing Engineer/Scientist,Responsibilities for Data Scientist/ NLP Engin...,NaN,Interactions
42,NaN,NaN,India,NaN,NaN,NaN,NaN,₹223K (Employer est.),Data Scientist,Responsibilities for Data Scientist/ NLP Engin...,NaN,Mondelēz International
43,NaN,NaN,Pune,NaN,NaN,NaN,NaN,₹223K (Employer est.),Sr. Data Scientist,Responsibilities for Data Scientist/ NLP Engin...,NaN,TomTom
44,NaN,NaN,Mumbai,NaN,NaN,NaN,NaN,₹223K (Employer est.),"Scientist, Data Science",Responsibilities for Data Scientist/ NLP Engin...,NaN,XPO Logistics
45,NaN,NaN,Bangalore,NaN,NaN,NaN,NaN,₹223K (Employer est.),Data Scientist - (New Grad) - India UHR,Responsibilities for Data Scientist/ NLP Engin...,NaN,Cisco Systems
46,NaN,NaN,Vadodara,NaN,NaN,NaN,NaN,₹223K (Employer est.),Executive - Data Scientist,Responsibilities for Data Scientist/ NLP Engin...,NaN,NielsenIQ
47,NaN,NaN,Remote,NaN,NaN,NaN,NaN,₹223K (Employer est.),Data Scientist,Responsibilities for Data Scientist/ NLP Engin...,NaN,Wise Monk
48,NaN,NaN,Maharashtra,NaN,NaN,NaN,NaN,₹223K (Employer est.),Data Scientist,Responsibilities for Data Scientist/ NLP Engin...,NaN,Aditya Birla Group
49,NaN,NaN,Pune,NaN,NaN,NaN,NaN,₹223K (Employer est.),Data Scientist - Innovations,Responsibilities for Data Scientist/ NLP Engin...,NaN,Merkle Sokrati
50,NaN,NaN,Pune,NaN,NaN,NaN,NaN,₹223K (Employer est.),Sr Data Scientist,Responsibilities for Data Scientist/ NLP Engin...,NaN,Evolent Health
51,NaN,NaN,Pune,NaN,NaN,NaN,NaN,₹223K (Employer est.),Data Scientist_TS,Responsibilities for Data Scientist/ NLP Engin...,NaN,AppZen
52,NaN,NaN,Jaipur,NaN,NaN,NaN,NaN,₹223K (Employer est.),Data Scientist,Responsibilities for Data Scientist/ NLP Engin...,NaN,Jumio Corporation
53,NaN,NaN,Hyderābād,NaN,NaN,NaN,NaN,₹223K (Employer est.),"Intern, Data Scientist",Responsibilities for Data Scientist/ NLP Engin...,NaN,Micron Technology
54,NaN,NaN,Bangalore,NaN,NaN,NaN,NaN,₹223K (Employer est.),RD I/TBT - data scientist,Responsibilities for Data Scientist/ NLP Engin...,NaN,Mercedes-Benz Research and Development India P...
55,NaN,NaN,Bangalore,NaN,NaN,NaN,NaN,₹223K (Employer est.),Data Scientist / BigData Engineer,Responsibilities for Data Scientist/ NLP Engin...,NaN,Agilite
56,NaN,NaN,Pune,NaN,NaN,NaN,NaN,₹223K (Employer est.),Data Scientist / Machine Learning Engineer,Responsibilities for Data Scientist/ NLP Engin...,NaN,PubMatic
57,NaN,NaN,Pune,NaN,NaN,NaN,NaN,₹223K (Employer est.),Data Scientist,Responsibilities for Data Scientist/ NLP Engin...,NaN,AlphaSense
58,NaN,NaN,Pune,NaN,NaN,NaN,NaN,₹223K (Employer est.),Data Scientist - Innovations,Responsibilities for Data Scientist/ NLP Engin...,NaN,Merkle
59,NaN,NaN,India,NaN,NaN,NaN,NaN,₹223K (Employer est.),Sr. Data Scientist-I,Responsibilities for Data Scientist/ NLP Engin...,NaN,General Mills
60,NaN,NaN,Bangalore,NaN,NaN,NaN,NaN,₹180K - ₹360K (Employer est.),Sr Data Scientist (Level 10),Responsibilities for Data Scientist/ NLP Engin...,NaN,Siemens Technology and Services Private Limited
61,NaN,NaN,Bangalore,NaN,NaN,NaN,NaN,₹180K - ₹360K (Employer est.),Data Scientist,Responsibilities for Data Scientist/ NLP Engin...,NaN,ABB
62,NaN,NaN,Pune,NaN,NaN,NaN,NaN,₹180K - ₹360K (Employer est.),Sr Data Scientist,Responsibilities for Data Scientist/ NLP Engin...,NaN,IBM
63,NaN,NaN,Pune,NaN,NaN,NaN,NaN,₹180K - ₹360K (Employer est.),Senior Data Scientist,Responsibilities for Data Scientist/ NLP Engin...,NaN,Peak AI
64,NaN,NaN,Pune,NaN,NaN,NaN,NaN,₹180K - ₹360K (Employer est.),Scientist (Applied Mechanics),Responsibilities for Data Scientist/ NLP Engin...,NaN,Corning
65,NaN,NaN,,NaN,NaN,NaN,NaN,₹180K - ₹360K (Employer est.),Data Scientist (m/f/d),Responsibilities for Data Scientist/ NLP Engin...,NaN,aioneers GmbH
66,1843,10000+ Employees,Pune,Company - Public,Manufacturing,$10+ billion (USD),4.1,₹180K - ₹360K (Employer est.),Data Scientist II - APAC-based,Responsibilities for Data Scientist/ NLP Engin...,Electrical & Electronic Manufacturing,Agiloft
67,1843,10000+ Employees,Pune,Company - Public,Manufacturing,$10+ billion (USD),4.1,₹180K - ₹360K (Employer est.),"Sr. Data Scientist - R, Python",Senior Data Scientist\nSiemens founded the new...,Electrical & Electronic Manufacturing,DataMetica
68,1843,10000+ Employees,Pune,Company - Public,Manufacturing,$10+ billion (USD),4.1,₹180K - ₹360K (Employer est.),Data Scientist,Senior Data Scientist\nSiemens founded the new...,Electrical & Electronic Manufacturing,Frontdoor
69,1843,10000+ Employees,Remote,Company - Public,Manufacturing,$10+ billion (USD),4.1,₹180K - ₹360K (Employer est.),Pre-sales Data Scientist,Senior Data Scientist\nSiemens founded the new...,Electrical & Electronic Manufacturing,DataRobot
70,1843,10000+ Employees,Bangalore,Company - Public,Manufacturing,$10+ billion (USD),4.1,₹180K - ₹360K (Employer est.),Junior Data Scientist / Data Analyst (Remote),Senior Data Scientist\nSiemens founded the new...,Electrical & Electronic Manufacturing,KayaDev AI
71,1843,10000+ Employees,Mumbai,Company - Public,Manufacturing,$10+ billion (USD),4.1,₹180K - ₹360K (Employer est.),Data Scientist,Senior Data Scientist\nSiemens founded the new...,Electrical & Electronic Manufacturing,Happy- A Digital Lending Fintech
72,1843,10000+ Employees,Mumbai,Company - Public,Manufacturing,$10+ billion (USD),4.1,₹180K - ₹360K (Employer est.),Data Scientist Consultant,Senior Data Scientist\nSiemens founded the new...,Electrical & Electronic Manufacturing,SHL
73,1843,10000+ Employees,Bangalore,Company - Public,Manufacturing,$10+ billion (USD),4.1,₹180K - ₹360K (Employer est.),Data Scientist,Senior Data Scientist\nSiemens founded the new...,Electrical & Electronic Manufacturing,Canum Infotech
74,1843,10000+ Employees,Gurgaon,Company - Public,Manufacturing,$10+ billion (USD),4.1,₹180K - ₹360K (Employer est.),Analyst - Data Scientist,Senior Data Scientist\nSiemens founded the new...,Electrical & Electronic Manufacturing,United Airlines
75,1843,10000+ Employees,Remote,Company - Public,Manufacturing,$10+ billion (USD),4.1,₹180K - ₹360K (Employer est.),Data Scientist,Senior Data Scientist\nSiemens founded the new...,Electrical & Electronic Manufacturing,Hire Digital
76,1843,10000+ Employees,Bangalore,Company - Public,Manufacturing,$10+ billion (USD),4.1,₹180K - ₹360K (Employer est.),Data Scientist (Technical),Senior Data Scientist\nSiemens founded the new...,Electrical & Electronic Manufacturing,Ericsson
77,1843,10000+ Employees,Bangalore,Company - Public,Manufacturing,$10+ billion (USD),4.1,₹180K - ₹360K (Employer est.),Data Scientist,Senior Data Scientist\nSiemens founded the new...,Electrical & Electronic Manufacturing,Careator Technologies
78,1843,10000+ Employees,Bangalore,Company - Public,Manufacturing,$10+ billion (USD),4.1,₹180K - ₹360K (Employer est.),Data Scientist II,Senior Data Scientist\nSiemens founded the new...,Electrical & Electronic Manufacturing,Honeywell
79,1843,10000+ Employees,Pune,Company - Public,Manufacturing,$10+ billion (USD),4.1,₹180K - ₹360K (Employer est.),Machine Learning Engineer - Intern,Senior Data Scientist\nSiemens founded the new...,Electrical & Electronic Manufacturing,Aera Technology
80,1843,10000+ Employees,Pune,Company - Public,Manufacturing,$10+ billion (USD),4.1,₹180K - ₹360K (Employer est.),Data Scientist,Senior Data Scientist\nSiemens founded the new...,Electrical & Electronic Manufacturing,LiveVectors Solutions Pvt Ltd
81,1843,10000+ Employees,New Delhi,Company - Public,Manufacturing,$10+ billion (USD),4.1,₹180K - ₹360K (Employer est.),Data Scientist,Senior Data Scientist\nSiemens founded the new...,Electrical & Electronic Manufacturing,WinZO
82,1843,10000+ Employees,Pune,Company - Public,Manufacturing,$10+ billion (USD),4.1,₹180K - ₹360K (Employer est.),Data Scientist – Smart Building Analytics,Senior Data Scientist\nSiemens founded the new...,Electrical & Electronic Manufacturing,Siemens
83,1843,10000+ Employees,Pune,Company - Public,Manufacturing,$10+ billion (USD),4.1,₹180K - ₹360K (Employer est.),Data Scientist,Senior Data Scientist\nSiemens founded the new...,Electrical & Electronic Manufacturing,Vijaya Management Services
84,1843,10000+ Employees,Bangalore,Company - Public,Manufacturing,$10+ billion (USD),4.1,₹180K - ₹360K (Employer est.),Data Analytics part time job/internship at Ban...,Senior Data Scientist\nSiemens founded the new...,Electrical & Electronic Manufacturing,Miurac
85,1843,10000+ Employees,Bangalore,Company - Public,Manufacturing,$10+ billion (USD),4.1,₹180K - ₹360K (Employer est.),Data Scientist - (Intern) - India /SCO UHR,Senior Data Scientist\nSiemens founded the new...,Electrical & Electronic Manufacturing,Cisco Systems
86,1843,10000+ Employees,Hyderābād,Company - Public,Manufacturing,$10+ billion (USD),4.1,₹180K - ₹360K (Employer est.),Data Scientist Intern,Senior Data Scientist\nSiemens founded the new...,Electrical & Electronic Manufacturing,Arthashastra Intelligence
87,1843,10000+ Employees,Pune,Company - Public,Manufacturing,$10+ billion (USD),4.1,₹180K - ₹360K (Employer est.),Senior Data Scientist,Senior Data Scientist\nSiemens founded the new...,Electrical & Electronic Manufacturing,Maersk
88,1843,10000+ Employees,Bangalore,Company - Public,Manufacturing,$10+ billion (USD),4.1,₹180K - ₹360K (Employer est.),Data Scientist - Sales,Senior Data Scientist\nSiemens founded the new...,Electrical & Electronic Manufacturing,Apptio
89,1843,10000+ Employees,Remote,Company - Public,Manufacturing,$10+ billion (USD),4.1,₹180K - ₹360K (Employer est.),Data Scientist,Senior Data Scientist\nSiemens founded the new...,Electrical & Electronic Manufacturing,Digbi Health
90,NaN,NaN,Mumbai,NaN,NaN,NaN,NaN,₹500K - ₹1M (Employer est.),Machine Learning Engineer,Experience: 2 - 4 years\nSkills Required:\nMac...,NaN,Ladderlogiq
91,NaN,NaN,India,NaN,NaN,NaN,NaN,₹500K - ₹1M (Employer est.),Deep Learning Intern,Experience: 2 - 4 years\nSkills Required:\nMac...,NaN,OXO Solutions
92,NaN,NaN,Bangalore,NaN,NaN,NaN,NaN,₹500K - ₹1M (Employer est.),Machine Learning Engineer - Interns,Experience: 2 - 4 years\nSkills Required:\nMac...,NaN,IceCream Labs
93,NaN,NaN,Bangalore,NaN,NaN,NaN,NaN,₹500K - ₹1M (Employer est.),Python & Machine Learning,Experience: 2 - 4 years\nSkills Required:\nMac...,NaN,Technology Next
94,NaN,NaN,Bangalore,NaN,NaN,NaN,NaN,₹500K - ₹1M (Employer est.),Decision Scientist - GoFood,Experience: 2 - 4 years\nSkills Required:\nMac...,NaN,GO-JEK
95,NaN,NaN,Hyderābād,NaN,NaN,NaN,NaN,₹500K - ₹1M (Employer est.),"Cybersecurity, AI and Machine Learning Engineers",Experience: 2 - 4 years\nSkills Required:\nMac...,NaN,GITTY Apps Pvt. Ltd
96,NaN,NaN,Bangalore,NaN,NaN,NaN,NaN,₹500K - ₹1M (Employer est.),Engineer - AI,Experience: 2 - 4 years\nSkills Required:\nMac...,NaN,ThoughtFocus
97,NaN,NaN,India,NaN,NaN,NaN,NaN,₹500K - ₹1M (Employer est.),Jr. Data Science Professional,Experience: 2 - 4 years\nSkills Required:\nMac...,NaN,Harmony Data Integration Technologies
98,NaN,NaN,India,NaN,NaN,NaN,NaN,₹500K - ₹1M (Employer est.),Data Scientist,Experience: 2 - 4 years\nSkills Required:\nMac...,NaN,Wolters Kluwer
99,NaN,NaN,Bangalore,NaN,NaN,NaN,NaN,₹500K - ₹1M (Employer est.),Research Engineer I -Data Science,Experience: 2 - 4 years\nSkills Required:\nMac...,NaN,Philips
100,NaN,NaN,Pune,NaN,NaN,NaN,NaN,₹500K - ₹1M (Employer est.),Python Machine Learning,Experience: 2 - 4 years\nSkills Required:\nMac...,NaN,e-Innosec Consulting
101,NaN,NaN,New Delhi,NaN,NaN,NaN,NaN,₹500K - ₹1M (Employer est.),Jr. AI/ML Engineer,Experience: 2 - 4 years\nSkills Required:\nMac...,NaN,DarioHealth
102,NaN,NaN,Bangalore,NaN,NaN,NaN,NaN,₹500K - ₹1M (Employer est.),Data Scientist,Experience: 2 - 4 years\nSkills Required:\nMac...,NaN,Siemens Technology and Services Private Limited